/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.scss";

p {
    margin-bottom: 0;
}

.bold {
    font-weight: bold !important;
}

.profile {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

// scrollbar
body {
    --sb-track-color: transparent;
    --sb-thumb-color: gray;
    --sb-size: 5px;
}
  
body::-webkit-scrollbar {
    width: var(--sb-size);
}
  
body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}
  
body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
}
  
@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color)
                        var(--sb-track-color);
    }
}
