<div class="card py-2 mb-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <input class="w-100" value="Skills">
        </li>
        <li class="list-group-item px-5 py-4" *ngFor="let skill of skills">
            <p class="h6">{{skill.skill}}</p>
            <p class="text-secondary">{{skill.subSkills}}</p>
            <p class="text-secondary">{{skill.skillLevel}}</p>
        </li>
        <li class="list-group-item d-flex justify-content-around">
            <button class="btn btn-outline-dark d-flex">
                <i class="bi bi-plus"></i>
                <p class="ms-1">Skill</p>
            </button>
        </li>
    </ul>
</div>