<div class="card py-2 mb-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <input class="w-100" value="Skills">
        </li>
        <li class="list-group-item px-4">
            <p class="h6">Backend</p>
            <p class="text-secondary">.NET</p>
            <p class="text-secondary">Proficient</p>
        </li>
        <li class="list-group-item d-flex justify-content-around">
            <button class="btn btn-outline-dark w-30">+ Skill</button>
        </li>
    </ul>
</div>