<div class="card py-2 mb-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <input class="w-100" value="Profile">
        </li>
        <li class="list-group-item">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Beatae expedita totam perspiciatis nemo reprehenderit, ab laudantium nesciunt
            accusamus? Itaque facilis iure recusandae, dolores molestiae error deleniti
            similique, nobis quasi voluptate a tempora ad voluptates numquam sit cum sunt
            tenetur quas illo accusamus perspiciatis voluptatem quos necessitatibus? Unde
            obcaecati dignissimos sapiente ipsam, ad iste velit aliquam cumque voluptas vitae
            excepturi dolore, error commodi ex, quam enim nisi dolorum maiores. Itaque dicta
            dolore expedita, minima, amet necessitatibus, quo assumenda cum similique omnis
            adipisci eius odit accusantium nam! Incidunt saepe ipsum fuga temporibus? Quod
            ullam nobis magni voluptatum explicabo repellendus assumenda exercitationem vitae!</li>
        <li class="list-group-item d-flex justify-content-around">
            <button class="btn btn-outline-dark d-flex">
                <i class="bi bi-plus"></i>
                <p class="ms-1">Profile</p>
            </button>
        </li>
    </ul>
</div>