<div class="card p-3 mb-3">
    <div *ngIf="!isEdit">
        <div class="d-flex justify-content-between">
            <p class="h3">{{personalDetails.name}}</p>
            <button class="btn btn-outline-primary" (click)="toggleEdit()">
                <i class="bi bi-pencil-fill"></i>
            </button>
        </div>
        <p class="text-secondary">{{personalDetails.jobTitle}}</p>

        <div class="d-flex justify-content-between">
            <div class="pt-2">
                <div class="d-flex">
                    <i class="bi bi-envelope-fill"></i>
                    <p class="ms-2">{{personalDetails.email}}</p>
                </div>
                <div class="d-flex" [class.text-secondary]="!personalDetails.phoneNumber">
                    <i class="bi bi-phone-fill"></i>
                    <p class="ms-2">{{personalDetails.phoneNumber || "Phone"}}</p>
                </div>
                <div class="d-flex">
                    <i class="bi bi-geo-alt-fill"></i>
                    <p class="ms-2">{{personalDetails.address}}</p>
                </div>
            </div>
            <div>
                <img class="rounded-circle" src="https://placehold.co/100x100">
            </div>
        </div>
    </div>

    <form *ngIf="isEdit" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <p class="h3">Edit personal details</p>
        <div class="d-flex">
            <div class="flex-1">
                <div class="form-group mb-3">
                    <label class="bold" for="fullName">
                        <span class="text-danger">*</span> Full Name
                    </label>
                    <input class="form-control" [class.is-invalid]="!name.valid" id="fullName"
                        #name="ngModel" placeholder="Enter Full Name"
                        [(ngModel)]="personalDetails.name" name="name" required>
                    <div class="invalid-feedback">Name is required</div>
                </div>
                <div class="form-group mb-3">
                    <label class="d-inline-block bold" for="jobTitle">Job Title</label>
                    <small class="d-inline-block form-text text-muted ps-2">optional</small>
                    <input class="form-control" id="jobTitle" placeholder="Enter Job Title"
                        [(ngModel)]="personalDetails.jobTitle" name="jobTitle">
                </div>
            </div>
            <div class="ps-3">
                <img class="rounded-circle" src="https://placehold.co/100x100">
            </div>
        </div>

        <div class="d-flex mb-3">
            <div class="form-group flex-1">
                <label class="d-inline-block bold" for="email">Email</label>
                <small class="d-inline-block form-text text-muted ps-2">recommended</small>
                <input class="form-control" [class.is-invalid]="!email.valid" id="email"
                    #email="ngModel" placeholder="Enter Email"
                    [(ngModel)]="personalDetails.email" name="email" email>
                <div class="invalid-feedback">Invalid email</div>
            </div>
            <div class="form-group flex-1 ps-2">
                <label class="d-inline-block bold" for="phone">Phone</label>
                <small class="d-inline-block form-text text-muted ps-2">recommended</small>
                <input class="form-control" id="phone" placeholder="Enter Phone"
                    [(ngModel)]="personalDetails.phoneNumber" name="phone">
            </div>
        </div>
        <div class="form-group mb-3">
            <label class="d-inline-block bold" for="address">Address</label>
            <small class="d-inline-block form-text text-muted ps-2">recommended</small>
            <input class="form-control" id="address" placeholder="Enter Address"
                [(ngModel)]="personalDetails.address" name="address">
        </div>
        <button type="submit" class="btn btn-outline-primary">Save</button>
    </form>
</div>
